<div class="container">


  <div class="form-container dark-theme">
    <a><i class="fa fa-arrow-left fa-2x" (click)="goBack()"></i></a>
    <h2>Add Group</h2>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
        <app-show-error [control]="name"></app-show-error>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description">

      </div>




      <button type="submit" [disabled]="groupForm.invalid">Create</button>
    </form>
    <div class="addMember">
      <label for="members">Members:</label>

      <p-multiSelect [options]="usersList" [(ngModel)]="selectedMembers" defaultLabel="Select a Member"
        optionLabel="name" display="chip" ></p-multiSelect>
    </div>

  </div>
</div>
