<!-- user-registration-form.component.html -->
<div class="container">

  <div class="form-container dark-theme">
    <h2>Add User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
        <app-show-error [control]="name"></app-show-error>
      </div>
      <div class="form-group">
        <label for="userName">Username:</label>
        <input type="text" id="userName" formControlName="userName" (blur)="checkUsernameAvailability()"  required>
        <app-show-error [control]="userName"></app-show-error>

      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" (blur)="checkEmailAvailability()" required>
        <app-show-error [control]="email"></app-show-error>

      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password"  [type]="hidePassword ? 'password' : 'text'" required>
        <span class="p-viewer" (click)="hidePassword=!hidePassword">
          <i [class]="hidePassword?'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
        </span>
        <app-show-error [control]="password"></app-show-error>

      </div>

      <button type="submit" [disabled]="userForm.invalid">Add</button>
    </form>
  </div>
</div>
