<div class="container">
  <div class="left-column">
    <!-- User Registration Form Component -->

    <h2>User List</h2>
    <div class="table-container">

      <table class="table table-responsive">
        <thead>
          <tr>
            <th class="sn" scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList| paginate: { itemsPerPage: 20, currentPage: page };let i=index">
            <td>{{(page-1)*20 +i+1 }}</td>
            <!-- <td>{{ i+1 }}</td> -->
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userName }}</td>
          </tr>
          <td class="text-center" colspan="5" *ngIf='!usersList?.length'>No Users </td>
        </tbody>
      </table>
    </div>
    <div *ngIf='usersList?.length' class="text-center pagination-class">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      <!-- <pagination-controls ></pagination-controls> -->

    </div>
  </div>
  <div *ngIf='showAddUser' class="right-column">
    <!-- User List Table Component -->
    <app-add-user (updateUsers)="getUserListing()"></app-add-user>

  </div>
</div>
